---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PostCard from '../components/PostCard.astro';
import Link from '../components/Link.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<BaseLayout title="~/wet333/home">
    <Header heading="~/WET333/HOME" />

    <Nav />

    <main class="flex flex-wrap gap-5">
        <section class="grow-3 shrink basis-0">
            {posts.map((post, i) => (
                <PostCard
                    title={post.data.title}
                    date={post.data.date}
                    category={post.data.category}
                    description={post.data.description}
                    slug={post.id}
                    isLatest={i === 0}
                />
            ))}
        </section>

        <aside class="grow shrink basis-[250px]">
            <section class="border-terminal p-4 mb-5">
                <h3 class="mt-0 p-1 font-bold negative-color">ESTADO DEL SERVIDOR</h3>
                <p>UPTIME: 4503 DÍAS</p>
                <p>TEMP: 34°C</p>
                <p>CORES: ACTIVE</p>
            </section>

            <section class="border-terminal p-4 mb-5">
                <h3 class="mt-0 p-1 font-bold negative-color">BLOG</h3>
                <ul class="list-none p-0">
                    {posts.map((post, i) => (
                        <li>
                            <Link href={`/blog/${post.id}`}>
                                {post.data.title}{i === 0 ? ' (ÚLTIMO)' : ''}
                            </Link>
                        </li>
                    ))}
                </ul>
            </section>
        </aside>
    </main>

    <Footer />
</BaseLayout>
