---
import Link from './Link.astro';

interface Props {
    title: string;
    date: Date;
    category: string;
    description: string;
    slug: string;
    isLatest?: boolean;
}

const { title, date, category, description, slug, isLatest = false } = Astro.props;
const formattedDate = date.toISOString().split('T')[0];
---

<article class:list={[
    "border-terminal p-4 mb-4"
]}>
    <h2 class="m-0 pb-3">{title}</h2>
    <span class="opacity-60 text-sm mb-4 mt-[3px] block">Fecha: {formattedDate} | Categoria: {category}</span>
    <p>{description}</p>
    <Link href={`/blog/${slug}`}>LEER ARCHIVO COMPLETO</Link>
</article>
